.background {
  .container {
    width: 200px;
    height: 500px;
    margin: 40px auto;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
